/*
    font-family: 'Playfair Display' serif;
    font-family: 'Gilroy';
*/

* {
    box-sizing: border-box;
}

/* Base */

body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url(./../sours/bg/bg.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}

a {
    text-decoration: none;
}

.container-navigation {
    margin: 0 auto;
    width: 1790px;
    padding: 0 15px;
}

.navigation {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/* Header */

.header {
    padding-top: 64px;
}

.container-navigation {
    margin-bottom: 198px;
}

.logo {
    font-family: 'Playfair Display' serif;
    font-weight: 700;
    font-size: 32px;
}

.nav {
    font-weight: 700;
    font-size: 18px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li + li {
    margin-left: 40px;
}

.nav a{
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.nav a:hover {
    color: #FBD784;
}

.login {
    font-size: 17px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.login:hover {
    color: #FBD784;
    transition: color 0.2s ease-in;
}


/* Title */

.title {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
}

.title-category {
    position: relative;
    padding-left: 104px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    color: #FBD784;
}

.title-category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color:#FBD784;   
}

.title-heading {
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'Playfair Display' serif;
    font-weight: 500;
    font-size: 87px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
}

.title-scroll {
    display: inline-block;
    padding-right: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.222px;
    color: #FFFFFF;
}

.title-scroll:hover {
    color: #FBD784;
    transition: color 0.2s ease-in;
}